ion-content{
    --background:#7e066a !important;
  }
  
  
  
  ion-toolbar{
    --background : #ec95e5 !important;
    --ion-font-family: 'GoodUnicornRegular-Rxev' !important;
  }
  
  ion-title{
    --color:#fff;
   
  }
  
  ion-button{
    --ion-font-family: 'TropicalAsianDemoRegular' !important;
  }