<ion-header>
  <ion-toolbar>
    <ion-title>Guest Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-button expand="block"  routerLink="" routerDirection="root">
    Courses & Prices
  </ion-button>

  <ion-button expand="block"  routerLink="" routerDirection="root">
    About Us
  </ion-button>

  <ion-button expand="block"  routerLink="" routerDirection="root">
    School Gallery
  </ion-button>

  <ion-button expand="block"  routerLink="" routerDirection="root">
    Register with Us
  </ion-button>


</ion-content>
