ion-content{
  --background: #ee8dde93 !important;
 
}

ion-card{
--background :  #df09cd !important;
--ion-text-color:  #eb13bc !important;
}

ion-card-title{
  --color:  #fff!important;
}

ion-input{
  --placeholder-color:#e706d5;
  --placeholder-opacity: 2;
}

ion-alert{
  --background:#e706d5 !important;
  --ion-text-color:#f8f5f8 !important;
}

calendar-calendar.currentDate{
  --background:#e9059d ;
}

ion-button{
  --background: #ffffff !important;
 
}


ion-toolbar{
  --background : #ec95e5 !important;
}

ion-title{
  --color:#fff;
 
}
