<ion-header>
  <ion-toolbar>
    <ion-title>ADMIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="block"  routerLink="/year-planner" routerDirection="root">
    School Events
  </ion-button>

  <ion-button expand="block"  routerLink="/notice-board" routerDirection="root">
    Notice Board
  </ion-button>

  <ion-button expand="block"  routerLink="/department" routerDirection="root">
    Department
  </ion-button>

  <ion-button expand="block"  routerLink="/add-client" routerDirection="root">
    Add New Client
  </ion-button>

  <ion-button expand="block"  routerLink="/view-client" routerDirection="root">
    View New Clients
  </ion-button>


</ion-content>
