<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="block" shape="round" routerLink="/year-planner" routerDirection="root">
    Year Planner
  </ion-button>

  <ion-button expand="block" shape="round" routerLink="/notice-board" routerDirection="root">
    Notice Board
  </ion-button>

  <ion-button expand="block" shape="round" routerLink="/department" routerDirection="root">
    Department
  </ion-button>

  <ion-button expand="block" shape="round" routerLink="/add-client" routerDirection="root">
    Add Client
  </ion-button>

  <ion-button expand="block" shape="round" routerLink="/view-client" routerDirection="root">
    View Client
  </ion-button>


</ion-content>
