ion-content{
    --background:#7e066a !important;
  }
  
  ion-toolbar{
      --background : #ec95e5 !important;
      --ion-font-family: 'QuiteMagicalRegular-8VA2' !important;
      font-size: 50px ;
    }
  
    ion-title{
      --color:#fff;
      
    }
  
    ion-button{
      --ion-font-family: 'Sky Serif W01' !important;
    }