ion-content{
  --background:#7e066a !important;
}



ion-toolbar{
  --background : #ec95e5 !important;
  --ion-font-family: 'SweetSensationsPersonalUse-lRgq' !important;
}

ion-title{
  --color:#fff;
 
}

ion-button{
  --ion-font-family: 'Black-nKaM' !important;
}