<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="assets/shapes.svg">
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>

<ion-header>
  <ion-toolbar >
      
    <ion-title>
      SCHOOL MENU
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
  <ion-button expand="block"  routerLink="/admin" routerDirection="root">
    <fa-icon icon="angle-right" slot="end"></fa-icon> 
    Administration
  </ion-button>
  
  <ion-button expand="block"  routerLink="" routerDirection="root">
    <fa-icon icon="angle-right" slot="end"></fa-icon> 
    Students
  </ion-button>
  
  <ion-button expand="block"   routerLink="" routerDirection="root">
    <fa-icon icon="angle-right" slot="end"></fa-icon> 
    Lecturers
  </ion-button>
  <ion-button expand="block"  routerLink="" routerDirection="root">
    <fa-icon icon="angle-right" slot="end"></fa-icon> 
  GUEST
  </ion-button>
            
</ion-content>
