<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="assets/shapes.svg">
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>

<ion-header>
  <ion-toolbar color="success">
      
    <ion-title>
      School Menu
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
  <ion-button expand="block" shape="round" routerLink="/admin" routerDirection="root">
    Admin
  </ion-button>
  
  <ion-button expand="block" shape="round"  routerLink="" routerDirection="root">
    Students
  </ion-button>
  <ion-button expand="block" shape="round"  routerLink="" routerDirection="root">
    Lectures
  </ion-button>
  <ion-button expand="block" shape="round" routerLink="" routerDirection="root">
  GUEST
  </ion-button>
            
</ion-content>
